alembic==1.4.3
APScheduler==3.3.1
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.4
pandas
psycopg2-binary==2.8.6
pytest==6.2.1
python-dateutil==2.8.1
PyYAML==5.3.1
requests==2.25.1
Send2Trash==1.5.0
SQLAlchemy==1.3.22
urllib3==1.26.2
virtualenv==20.2.2
sql-metadata==1.11.0
